.root {
    -fx-background-image: url("/images/raven.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.label {
    -fx-text-fill: white;
    -fx-background-color: #560591;
}

.button {
    -fx-background-color: #560591;
    -fx-text-fill: white;
}